*{
    margin:0;
    padding:0;
}

.app{
   color: light-blue;
   text-align : center;
}

.counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.num-count{
    display:block;
}